<main [ngClass]="'container'">
  <div [ngClass]="'row'" id="flex-container">
    <section class="non-curr-weather-section">
      <div *ngIf="hourlyWFColl">
        <article>
          <ul>
            <li *ngFor="let wForecast of hourlyWFColl.weatherForecasts" class="individual-forecast">
              <app-individual-forecast [wForecast]="wForecast"
                                       [divLen]="leftDivLen"
                                       [TEMP_UNIT]="TEMP_UNIT"
                                       [LENGTH_UNIT]="LENGTH_UNIT"></app-individual-forecast>
            </li>
          </ul>
        </article>
      </div>
    </section>
    <section>
      <h2>Request Weather Forecast</h2>
      <div class="input-div">
        <button [disabled]="!currWForecast || currWForecast.city == hourlyWFColl?.city"
                (click)="onHourlyForecastButt()"
                type="button">HOURLY</button>
        <form (submit)="onWForecastReq()" [formGroup]="cityForm">
          <em>{{ message }}</em> <br>
          <input formControlName="name" type="text" placeholder="City"> <br>
          <button [disabled]="cityForm.invalid" type="submit">REQUEST</button>
        </form>
        <button [disabled]="!currWForecast || currWForecast.city == dailyWFColl?.city"
                (click)="onDailyForecastButt()"
                type="button">DAILY</button>
      </div>
      <div *ngIf="currWForecast">
        <h3>Current</h3>
        <article>
          <div class="individual-forecast">
            <app-individual-forecast [wForecast]="currWForecast"
                                     [divLen]="leftDivLen"
                                     [TEMP_UNIT]="TEMP_UNIT"
                                     [LENGTH_UNIT]="LENGTH_UNIT"></app-individual-forecast>
          </div>
        </article>
      </div>
    </section>
    <section class="non-curr-weather-section">
      <div *ngIf="dailyWFColl">
        <article>
          <ul>
            <li *ngFor="let wForecast of dailyWFColl.weatherForecasts" class="individual-forecast">
              <app-individual-forecast [wForecast]="wForecast"
                                       [divLen]="leftDivLen"
                                       [TEMP_UNIT]="TEMP_UNIT"
                                       [LENGTH_UNIT]="LENGTH_UNIT"></app-individual-forecast>
            </li>
          </ul>
        </article>
      </div>
    </section>
  </div>
</main>
