.input-div {
  height: 100px;
}

#flex-container > section:nth-child(2) {
  margin-top: 5vh;
}


@media only screen and (max-width: 768px) {
  section {
    margin: 5px 0;
    width: 100%;
    border-bottom: solid 15px #1c5365;
  }

  .non-curr-weather-section {
    margin-top: 0;
    border-bottom: none;
  }

  #flex-container {
    display: block;
  }
}
