* {
  margin: 0;
  padding: 0;
  color: silver;
}

body {
  background: #191c27;
}
main {
  height: 100vh;
}
section {
  margin: auto;
  width: 31%;
  padding: 10px;
  background-color: #1d202c;
  border-radius: 10px;
  border-top: solid 15px #1c5365;
  text-align: center;
}
article {
  text-align: start;
  min-height: 30vh;
  max-height: 85vh;
  overflow-y: auto;
}
li {
  margin: 5px;
  display: flex;
}
h2 {
  margin-bottom: 30px;
}
strong {
  color: #3facd3;
}
input {
  background: #151927;
  padding: 7px;
  text-align: center;
  margin-bottom: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}
input:focus {
  border-left: dashed 1px #1c5365;
  border-right: dashed 1px #1c5365;
}
button {
  border: none;
  border-radius: 5px;
  background: #215116;
  padding: 7px;
}
button:hover {
  background: #2a671c;
}
button:active {
  background: #163a10;
}
button:disabled {
  background: #555555;
}

.input-div>button {
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.input-div {
  display: flex;
  align-items: center;
}
.input-div>form {
  width: 90%;
  height: 100%;
}
.non-curr-weather-section {
  margin-top: 5%;
  background-color: #191c27;
  border-top: none;
}
.individual-forecast {
  background-color: #1d202c;
  border-left: dashed 1px #1c5365;
  border-right: dashed 1px #1c5365;
  border-radius: 10px;
  padding: 10px;
}

#flex-container {
  display: flex;
  margin: 0 10vh;
}

::-webkit-scrollbar {
  background: #1d202c;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1c5365;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: #191c27;
}
