<main [ngClass]="'container'">
  <div [ngClass]="'row'" id="cont">
    <section>
      <div class="input-div">
        <form (submit)="onAddFavoriteCityButt()" [formGroup]="addFavCityForm">
          <input formControlName="username" type="text" placeholder="username"> <br>
          <em>{{ message }}</em> <br>
          <input formControlName="cityName" type="text" placeholder="city"> <br>
          <button [disabled]="addFavCityForm.invalid" type="submit">ADD</button>
        </form>
        <button (click)="onGetForecastsButt()"
                type="submit"
                [disabled]="!addFavCityForm.get('username')?.value">REQUEST FORECASTS</button>
      </div>
      <div class="fav-city-management">
        <button (click)="onGetFavoriteCitiesButt()"
                [disabled]="!addFavCityForm.get('username')?.value">REQUEST</button>
        <div class="dropdown">
          <button class="dropdown-button"
                  [disabled]="!addFavCityForm.get('username')?.value">
            {{ selectedFavCity ? selectedFavCity: "FAVORITE CITIES" }}</button>
          <div class="dropdown-content">
            <div (click)="selectedFavCity = city.cityName"
                 *ngFor="let city of favCities"><span>{{ city.cityName }}</span></div>
          </div>
        </div>
        <div>
          <button (click)="onDelFavoriteCityButt()"
                  [disabled]="!addFavCityForm.get('username')?.value || !selectedFavCity">REMOVE</button>
        </div>
      </div>
    </section>
    <section [ngClass]="{ 'hidden': forecastColls }" class="non-curr-weather-section">
      <article>
        <ul>
          <li *ngFor="let fColl of forecastColls" class="flex-horizontal">
              <div *ngFor="let forecast of fColl.weatherForecasts" class="individual-forecast">
                <app-individual-forecast [wForecast]="forecast"
                                         [divLen]="leftDivLen"
                                         [TEMP_UNIT]="TEMP_UNIT"
                                         [LENGTH_UNIT]="LENGTH_UNIT"></app-individual-forecast>
              </div>
          </li>
        </ul>
      </article>
    </section>
  </div>
</main>
